* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo  {
    height: 70px;
    width: 80px;
}
.casa{
    height: 100%;
    width:100%;
}
.pileta{
    height:100%;
    width: 100%;
}
.d-block {
    height:200px;
    width: 400px;
    justify-content: center;
}
#navbarNav{
    justify-content: end;
}
.imagenes-varias{
    height:300px;
    width: 80%;
}

h1 {
    color:navy;
    justify-content: center;
}
/*uso de grid*/

.lists{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
}

/*uso de grid y @media query*/

@media screen and (max-width:600px) {
.maps-links{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(100, 106, 110);

}

}   

.links{
    display:grid; 
    object-fit:cover;
    width: 600px;
   
   
}


/*para dektop*/
.maps-links{
    display:flex;
  
    
}
.maps-comments{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (4, 1fr);
}

 .comments {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-rows: (1fr);
    grid-template-columns: (1fr 1fr);
}

/* uso de display flex en contacto.html*/

.contact{
    display: flex;
    height: 150px;
    width: auto;
    justify-content: space-around;

}